.cards_wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, 300px);
  margin: 0 auto;
  width: 100%;
  padding: 100px 10px;
}

.cards_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}


.box_image {
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(46, 45, 45, 0.3);

  h4 {
    color: rgb(8, 253, 216);
    margin: 5%;
    letter-spacing: 0.5px;
    font-size: 1.2rem
  }

  p {
    text-decoration: none;
    bottom: 10;
    color: white;
    z-index: 1;
    left: 0px;
  }
  
  p {
    display: flex;
    margin-top: auto;  
    background-color: rgb(0, 0, 0, 0.8);
    bottom: 0;
    padding: 3% 5%;
    text-align: center;
    line-height: 1.5
  }
}

.box_image:nth-of-type(1) {
  background-image: url('/Images/hoodie2.jpg');
}

.box_image:nth-of-type(2) {
  background-image: url('/Images/computertable.jpg');
}

.box_image:nth-of-type(3) {
  background-image: url('/Images/image8.jpg');
}

.box_image:nth-of-type(4) {
  background-image: url('/Images/html.jpg');
}

.box_image:nth-of-type(5) {
  background-image: url('/Images/image8.jpg');
}

.box_image:nth-of-type(6) {
  background-image: url('/Images/image3.jpg');
}


/* image overlay styling */
.box_image:hover {
  transform: scale(0.98);
  transition: all 5.5s ease-in;

  p {
    display: none;
  }
}


/* image overlay styling */
.box-image__overlay>* {
  transform: translateY(20px);
  transition: transform 2.25s;

  // fade in needs amending
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 5;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }
}
 
.box-image__overlay:hover {
  opacity: 1;
}

.box-image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  text-decoration: none;
}

.box-image__overlay:hover>* {
  transform: translateY(0);
}

.box-image_back {
  font-size: 1em;
  position: absolute;
  width: 80%;
  text-align: center;
  line-height: 1.3
}

.box-image-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
  text-decoration: none;
  background-color: red;
  font-size: 1.3rem;
  padding: 3% 5%;
}


/* https://www.youtube.com/watch?v=nMGVwP3ww2M */


/* media queries */
@media (min-width: 768px) {
  .box_image h3 {
    letter-spacing: 1.5px;
    line-height: 44px;
    font-weight: 600;
  }

  .box_image p {
    position: absolute;
    margin-top: 100%
  }
}

@media (min-width: 900px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 300px);
  }
}

@media (min-width: 1024px) {
  .cards_container {
    width: 80%;
    margin: 0em auto
  }

  .cards_wrapper {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 300px);
  }
}
/******* CARDS END *********/
/***************************/



/* https://www.youtube.com/watch?v=nMGVwP3ww2M */